.post-item {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  animation: opasiti 1s ease;
  margin-top: 10px;

  .post-item-title, .post-item-body {
    display: flex;
    flex-direction: column;

    .title, .descr {
      width: 70px;
      padding: 3px 8px;
      font-size: 16px;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      color: #ffffff;
      
    }

    .descr-text, .title-text {
      margin-left: 20px;
      padding: 10px 0;
      line-height: 1.5;
      font-size: 15px;
      opacity: 0.5;
    }
  }
}

@keyframes opasiti{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
};

@media screen and(max-width: 425px) {
  .post-item {
    .post-item-title, .post-item-body {
      .title, .descr {
        width: 55px;
        padding: 3px 6px;
        font-size: 13px;
      }
  
      .descr-text, .title-text {
        margin-left: 5px;
        font-size: 12px;
      }
    }
    
  }
}